:root {
  --primary-color: #fa2a32;
  --secondary-color: #82685d;
  --light-brown: #b0988d;
  --purple: #b73983;
  --gray-light: #fef7f7;
  --warning: #ffc107;
  --success: #28a745;
  --info: #17a2b8;
  --danger: #dc3545;
}
@import "variables";
@import "typo";
@import "buttons";
@import "links";
@import "icons";
@import "layout";

.color-box {
  height: fit-content;
  border-radius: 16px;
}
.card-shadow {
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.5);
}
